BOT_TOKEN=xxxxxxxxxx
DATABASE_URL=postgresql://postgres:pegozrKLCFpUHnjoYonoVswbFzpDCWTr@postgres.railway.internal:5432/railway
ADMIN_TG_IDS=111111111,222222222
PAYMENT_METHOD=MANUAL
ORGANIZER_NAME="Your League"
ORGANIZER_REQUISITES="Карта XXXX XXXX; Получатель: ...; Комментарий: Ваш_ник"
TIMEZONE=Asia/Tashkent


